<div class="min-h-screen flex items-center justify-center bg-gray-100 px-4">
  <div class="bg-white w-full max-w-md rounded-2xl shadow-lg p-8 text-center">


    <ng-container *ngIf="session === null || session === undefined">
      <app-loader></app-loader>
    </ng-container>


    <ng-container *ngIf="session">
    <ng-container *ngIf="session?.paymentStatus === 'paid'; else errorBlock">
      <!-- Icon -->
      <div class="mx-auto mb-6 flex h-20 w-20 items-center justify-center rounded-full bg-green-100">
        <svg class="h-10 w-10 text-green-600" fill="none" stroke="currentColor" stroke-width="2"
             viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round"
                d="M5 13l4 4L19 7" />
        </svg>
      </div>

      <!-- Title -->
      <h1 class="text-2xl font-semibold text-green-600 mb-2">
        Paiement réussi !
      </h1>

      <p class="text-gray-500 text-sm mb-6">
        Votre paiement a été traité avec succès. Un email de confirmation vous a été envoyé.
      </p>

      <!-- Details -->
      <div
        class="bg-gray-50 rounded-xl p-4 text-left text-sm space-y-3">
        <div class="flex justify-between">
          <span class="text-gray-500">Montant du don</span>
          <span class="text-gray-900">{{ amountInEuro | number: '1.2-2'}} €</span>
        </div>
        <hr>
        <div class="flex justify-between">
          <span class="text-gray-500">Transaction N°</span>
          <span class=" font-mono px-0.5 bg-gray-100 text-gray-800 rounded-lg text-xs border border-gray-300 truncate "> {{ session?.id.slice(0,32) }}</span>
        </div>
        <div class="flex justify-between">
          <span class="text-gray-500">Mode de paiement</span>
          <span class="text-gray-700">{{ paymentIntent?.cardBrand }} **** {{ paymentIntent?.cardLast4 }}</span>
        </div>
        <div class="flex justify-between">
          <span class="text-gray-500">Date</span>
          <span class="text-gray-700">{{ createdDate | date: 'dd/MM/yyyy à HH:mm'}}</span>
        </div>
        <div class="flex justify-between">
          <span class="text-gray-500">Organisation bénéficiaire</span>
          <span class="text-gray-700">Winners Chapel Intl. Paris</span>
        </div>
      </div>

      <!-- CTA -->
      <button
        class="w-full py-2 bg-green-600 text-white shadow-md mt-2
      hover:bg-green-700  hover:shadow-lg transition-all active::scale-[0.98]"
        [routerLink]="['/']">
        Retour à l’accueil
      </button>
    </ng-container>
    <!-- ERROR BLOCK -->
    <ng-template #errorBlock>
      <div class="mx-auto mb-6 flex h-20 w-20 items-center justify-center rounded-full bg-red-100">
        <svg class="h-10 w-10 text-red-600" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </div>
      <h1 class="text-2xl font-semibold text-red-600 mb-2"> Paiement échoué </h1>
      <p class="text-gray-500 text-sm mb-6"> Le paiement n’a pas pu être validé. Aucun montant n’a été débité. </p>
      <button class="w-full py-2 bg-red-600 text-white shadow-md mt-2 hover:bg-red-700 hover:shadow-lg transition-all" [routerLink]="['/']"> Réessayer le paiement </button>
      <button class="w-full py-2 bg-gray-200 text-gray-700 shadow mt-2 hover:bg-gray-300 transition-all" [routerLink]="['/']"> Retour à l’accueil </button>
    </ng-template>

    </ng-container>

  </div>
</div>
